<!DOCTYPE html>
<html>
	<head>
		<title>Profile - <%= display %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<body style="padding:50px">
		<a href="/">Home</a><br/>
		<p>Profile page of <%= display %> </p>
		Username: <%= upime %><br/>
		Id: <%= id %><br/>
		<br/>
		<a href="/logout">Logout</a>
	</body>
</html>
